URxvt*background: rgba:0010/0010/0010/ffff
URxvt*foreground: rgba:ffff/ffff/ffff/ffff
URxvt.color12: rgb:5c/5c/ff
URxvt.intensityStyles: false
URxvt.font: xft:UbuntuMono:size=12
URxvt.letterspace: -1
URxvt.scrollBar: false
URxvt*transparent: true
URxvt*shading: 20

rofi.color-enabled: true
! Molokai theme
rofi.color-normal:                   argb:00272822, #f8f8f2, argb:00272822, #141411, #f8f8f2
! "Color scheme for urgent row" Set from: File
rofi.color-urgent:                   argb:00272822, #f92672, argb:00272822, #f92672, #f8f8f2
! "Color scheme for active row" Set from: File
rofi.color-active:                   argb:00272822, #a6e22a, argb:00272822, #141411, #a6e22a
! "Color scheme window" Set from: File
rofi.color-window:                   argb:40272822, #002b36, #eedb74
! "Separator style (none, dash, solid)" Set from: File
rofi.separator-style:                solid
